{% extends 'catalog/base-products.html' %}

{% block content %}

	<!-- Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Product Sorting -->
					<div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
						<div class="results">Showing <span>12</span> results</div>
						<div class="sorting_container ml-md-auto">
							<div class="sorting">
								<ul class="item_sorting">
									<li>
										<span class="sorting_text">Sort by</span>
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
										<ul>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Name</span></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">

					<div class="product_grid">

{% for product in products %}
						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ MEDIA_URL }}{{ product.Images }}" alt=""></div>
{#							<div class="product_extra product_new"><a href="categories.html">New</a></div>#}
							<div class="product_content">
								<div class="product_title"><a href="product.html">{{ product.title }}</a></div>
								<div class="product_price">{{ product.price }}</div>
							</div>
						</div>
{% endfor %}

					</div>

				</div>
			</div>
		</div>
	</div>


{% endblock %}