{% extends 'catalog/base-categories.html' %}

{% block content %}

                    <style>
   .breadcrumbs ul li a {
        color: grey;

    }

    .breadcrumbs ul li a:hover{
        color: black;
    }
    </style>

	<div class="home" style="height: 220px; padding-top: 130px;">
		<div class="home_container" style="height: 80px;">
			<div class="home_background" style="background: white; "></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li class="my-link-page" style="font-weight: 700; font-size: 18px; color: grey; display: inline-block;" ><a class="link-page" href="{% url 'index' %}" style="font-weight: 700; font-size: 24px; margin-right: 25px;">Главная</a>/</li>
										<li class="my-link-page" style="font-weight: 700; font-size: 18px; color: black; display: inline-block;" ><a class="link-page" href="{% url 'mainCategories' %}" style="font-weight: 700; font-size: 24px; margin-right: 25px; margin-left: 25px;">Техника</a>/</li>
                                        <li style="display: inline-block;"><a href="#" style="font-weight: 700; font-size: 24px; color: black; margin-left: 25px;">{{ page.title }}</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



<!-- Home -->
	<div class="home" style="padding-top: 0">
		<div class="home_container">

			<div class="home_background" style="background-image:url({{ MEDIA_URL }}{{ page.Image }})"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">

							<div class="home_content">

								<div class="home_title">{{ page.title }}</div>
								<div class="home_text"><p>{{ page.text }}</p></div>

                            </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Products -->

	<div class="products" style="padding-bottom: 300px">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Product Sorting -->
					<div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
						<div class="results">Showing <span>12</span> results</div>
						<div class="sorting_container ml-md-auto">
							<div class="sorting">
								<ul class="item_sorting">
									<li>
										<span class="sorting_text">Sort by</span>
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
										<ul>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Name</span></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">

					<div class="product_grid">

						<!-- Product -->
                        {% for page_item in page.page_page_items.all %}
						<div class="product">
                            <div class="product_image"><a href="{{ page_item.get_absolute_url }}"><img style="height: 150px; width: 260px;"  src="{{ MEDIA_URL }}{{ page_item.Image }}" alt=""></a></div>
							<div class="product_content">
								<div class="product_title"><a href="{{ page_item.get_absolute_url }}">{{ page_item.title }}</a></div>
							</div>
						</div>
{% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>


{% endblock %}