{% extends 'base-contact.html' %}

{% block content %}

	<!-- Home -->

        <style>
   .breadcrumbs ul li a {
        color: grey;
    }

    .breadcrumbs ul li a:hover{
        color: black;
    }
    </style>

	<div class="home" style="height: 220px;">
		<div class="home_container" style="height: 80px;">
			<div class="home_background" style="background: white; "></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li class="my-link-page" style="font-weight: 700; font-size: 18px; color: black;"><a class="link-page" href="{% url 'index' %}" style="font-weight: 700; font-size: 24px; margin-right: 25px;">Главная</a>/</li>
                                        <li><a href="#" style="font-weight: 700; font-size: 24px; color: black;">Контакты</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact" style="padding-top: 0">
		<div class="container">
			<div class="row">

				<!-- Get in touch -->
				<div class="col-lg-8 contact_col">
					<div class="get_in_touch">
						<div class="section_title">Напишите нам</div>
						<div class="section_subtitle">Если похвалить или покритиковать - это сюда</div>
						<div class="contact_form_container">
							<form action="#" id="contact_form" class="contact_form">
								<div class="row">
									<div class="col-xl-6">
										<!-- Name -->
										<label for="contact_name">Имя</label>
										<input type="text" id="contact_name" class="contact_input" required="required">
									</div>
									<div class="col-xl-6 last_name_col">
										<!-- Last Name -->
										<label for="contact_last_name">Фамилия</label>
										<input type="text" id="contact_last_name" class="contact_input" required="required">
									</div>
								</div>
								<div>
									<!-- Subject -->
									<label for="contact_company">Тема</label>
									<input type="text" id="contact_company" class="contact_input">
								</div>
								<div>
									<label for="contact_textarea">Сообщение</label>
									<textarea id="contact_textarea" class="contact_input contact_textarea" required="required"></textarea>
								</div>
								<button class="button contact_button"><span>Отправить</span></button>
							</form>
						</div>
					</div>
				</div>

				<!-- Contact Info -->
				<div class="col-lg-3 offset-xl-1 contact_col">
					<div class="contact_info">
						<div class="contact_info_section">
							<div class="contact_info_title">Контакты</div>
							<ul>
								<li>Телефон: <span>+7 (321) 123-45-67</span></li>
								<li>Почта: <span>one-exemple@gmail.com</span></li>
							</ul>
						</div>
						<div class="contact_info_section">
							<div class="contact_info_title">Информация</div>
							<ul>
								<li>Телефон: <span>+7 (123) 456-78-99</span></li>
								<li>Почта: <span>exemple-two@gmail.com</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row map_row">
				<div class="col">

					<!-- Google Map -->
					<div class="map">
						<div id="google_map" class="google_map">
							<div class="map_container">
								<div id="map">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32e1050ca65cf731b10c141b167350ea1e6ac35a2f1a9f7f261b127d3f51adcc&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
                                </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}