

<!DOCTYPE html>
<html lang="ru">
<head>
<title>Онлайн магазин</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sublime project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/bootstrap4/bootstrap.min.css">
{#<link href="{{ STATIC_URL }}plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/responsive.css">
<script src="https://kit.fontawesome.com/b0d75730e0.js"></script>
</head>
<body>

<div class="super_container">

{% include 'parts/menu.html' %}

{% block content %}
{% endblock %}

	<!-- Footer -->

	<div class="footer_overlay"></div>
	<footer class="footer">
		<div class="footer_background" style="background-image:url({{ STATIC_URL }}images/footer.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
						<div class="footer_logo"><a href="#">Chill Studio</a></div>
						<div class="copyright ml-auto mr-auto"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены | Шаблон сделан с помощью  <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
						<div class="footer_social ml-lg-auto">
							<ul>
								<li><a href="#"><i class="fab fa-vk" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="{{ STATIC_URL }}js/jquery-3.2.1.min.js"></script>
<script src="{{ STATIC_URL }}styles/bootstrap4/popper.js"></script>
<script src="{{ STATIC_URL }}styles/bootstrap4/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}plugins/greensock/TweenMax.min.js"></script>
<script src="{{ STATIC_URL }}plugins/greensock/TimelineMax.min.js"></script>
<script src="{{ STATIC_URL }}plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="{{ STATIC_URL }}plugins/greensock/animation.gsap.min.js"></script>
<script src="{{ STATIC_URL }}plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="{{ STATIC_URL }}plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="{{ STATIC_URL }}plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}plugins/easing/easing.js"></script>
<script src="{{ STATIC_URL }}plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/custom.js"></script>
</body>
</html>