

{% extends 'base.html' %}


{% block content %}
	<!-- Home -->

	<div class="home">
		<div class="home_slider_container">

			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slider Item -->
				<div class="owl-item home_slider_item">
					<div class="home_slider_background" style="background-image:url({{ STATIC_URL }}images/home_slider_1.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
										<div class="home_slider_title">Выделяйся среди остальных</div>
										<div class="home_slider_subtitle">
 Magic Mouse 2 стала более лёгкой, у неё меньше подвижных частей, встроенный аккумулятор и цельное основание — вот почему она скользит с меньшим сопротивлением. На поверхности Multi-Touch можно использовать простые жесты, например смахивание для перехода между веб-страницами и прокручивание при работе с документами.
                                        </div>
										<div class="button button_light home_button"><a href="#">Заказать</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item home_slider_item">
					<div class="home_slider_background" style="background-image:url({{ STATIC_URL }}images/home_slider_2.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
										<div class="home_slider_title">Будь в тренде</div>
										<div class="home_slider_subtitle">Иммерсивный экран. Профессиональные фото и видео. Обратная беспроводная зарядка. Экран с эффектом погружения.
Технология беспроводной передачи заряда сторонним устройствам. Всё это новый Samsung Galaxy S10 и S10+ </div>
										<div class="button button_light home_button"><a href="#">Заказать</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item home_slider_item">
					<div class="home_slider_background" style="background-image:url({{ STATIC_URL }}images/home_slider_3.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
										<div class="home_slider_title">Будь в курсе <br> всех событий</div>
										<div class="home_slider_subtitle"> Apple Watch Series 4. Влагозащищенные. Материал корпуса: алюминий и керамика. Сенсорный OLED-экран, 1.78", 368x448. Звонки с помощью телефона или планшета. Мониторинг сна, калорий, физ. активности. Устойчивое к царапинам стекло.

                                        </div>
										<div class="button button_light home_button"><a href="#">Заказать</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- Home Slider Dots -->

			<div class="home_slider_dots_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_slider_dots">
								<ul id="home_slider_custom_dots" class="home_slider_custom_dots">
									<li class="home_slider_custom_dot active">01</li>
									<li class="home_slider_custom_dot">02</li>
									<li class="home_slider_custom_dot">03</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Ads -->

	<div class="avds">
		<div class="avds_container d-flex flex-lg-row flex-column align-items-start justify-content-between">
			<div class="avds_small">
				<div class="avds_background" style="background-image:url({{ STATIC_URL }}images/avds_small.jpg)"></div>
				<div class="avds_small_inner">
					<div class="avds_discount_container">
						<img src="{{ STATIC_URL }}images/discount.png" alt="">
						<div>
							<div class="avds_discount">
								<div>20<span>%</span></div>
								<div>Скидка</div>
							</div>
						</div>
					</div>
					<div class="avds_small_content">
						<div class="avds_title">Смарфон</div>
						<div class="avds_link"><a href="categories.html" style="font-weight: 700; color: black;">Узнать подробнее</a></div>


					</div>
				</div>
			</div>
			<div class="avds_large">
				<div class="avds_background" style="background-image:url({{ STATIC_URL }}images/avds_large.jpg)"></div>
				<div class="avds_large_container">
					<div class="avds_large_content">
						<div class="avds_title">Профессиональные камеры</div>
						<div class="avds_text">Для творческой съёмки в профессиональном формате 4K. Наделена функцией ускоренной и замедленной съёмки для новых творческих находок. Встроенная поддержка Wi-Fi для удалённого управления.</div>
						<div class="avds_link avds_link_large"><a href="categories.html">Узнать больше</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="product_grid">

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ STATIC_URL }}images/product_1.jpg" alt=""></div>
							<div class="product_content">
								<div class="product_title"><a href="product.html">Смартфон Apple iPhone 128GB</a></div>
								<div class="product_price">120 000 рублей</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ STATIC_URL }}images/product_2.jpg" alt=""></div>
							<div class="product_extra product_sale"><a href="categories.html">Sale</a></div>
							<div class="product_content">
								<div class="product_title"><a href="product.html">Акустическая система YAMAHA NS-BP111</a></div>
								<div class="product_price">65 000 рублей</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ STATIC_URL }}images/product_3.jpg" alt=""></div>
							<div class="product_content">
								<div class="product_title"><a href="product.html">USB провод</a></div>
								<div class="product_price">3000 рублей</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ STATIC_URL }}images/product_4.jpg" alt=""></div>
							<div class="product_content">
								<div class="product_title"><a href="product.html">Ноутбук ASUS VivoBook</a></div>
								<div class="product_price">90 000 рублей</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ STATIC_URL }}images/product_5.jpg" alt=""></div>
							<div class="product_content">
								<div class="product_title"><a href="product.html">Гарнитура игровая SVEN</a></div>
								<div class="product_price">12 000 рублей</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ STATIC_URL }}images/product_7.jpg" alt=""></div>
							<div class="product_content">
								<div class="product_title"><a href="product.html">Смартфон Apple iPhone XR</a></div>
								<div class="product_price">40 000 рублей</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ STATIC_URL }}images/product_6.jpg" alt=""></div>
							<div class="product_content">
								<div class="product_title"><a href="product.html">Планшет LENOVO Tab 10</a></div>
								<div class="product_price">32 000 рублей</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ STATIC_URL }}images/product_8.jpg" alt=""></div>
							<div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
							<div class="product_content">
								<div class="product_title"><a href="product.html">Клавиатура APPLE Magic Keyboard 2</a></div>
								<div class="product_price">10 000 рублей</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Ad -->

	<div class="avds_xl">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="avds_xl_container clearfix">
						<div class="avds_xl_background" style="background-image:url({{ STATIC_URL }}images/avds_xl.jpg)"></div>
						<div class="avds_xl_content">
							<div class="avds_title">ASUS Rog Centurion</div>
							<div class="avds_text">Почувствуй комфорт с беспроводными игровыми наушниками.</div>
							<div class="avds_link avds_xl_link"><a href="categories.html">Перейти к покупке</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Icon Boxes -->

	<div class="icon_boxes">
		<div class="container">
			<div class="row icon_box_row">

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src="{{ STATIC_URL }}images/icon_1.svg" alt=""></div>
						<div class="icon_box_title" style="font-weight: 700;">Бесплатная доставка по всему миру</div>
						<div class="icon_box_text">
							<p>Доставка в любой угол планеты, за наш счёт. Оставте заявку сегодня, а завтра его доставит курьер</p>
						</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src="{{ STATIC_URL }}images/icon_2.svg" alt=""></div>
						<div class="icon_box_title" style="font-weight: 700;">Бесплатный возврат</div>
						<div class="icon_box_text">
							<p>Сломался товар? Не переживайте, поменяйте покупку по гарантии или вернем деньги.</p>
						</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src="{{ STATIC_URL }}images/icon_3.svg" alt=""></div>
						<div class="icon_box_title" style="font-weight: 700;">Поддержка 24 часа в сутки</div>
						<div class="icon_box_text">
							<p>Ответим на ваши вопросы в режиме онлайн. Мы всегда на связи и готовы помочь.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_border"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="newsletter_content text-center">
						<div class="newsletter_title">Подпишитесь на рассылку</div>
						<div class="newsletter_text"><p>Следите за скидкам, новостями компании и поступление товара - первыми!   </p></div>
						<div class="newsletter_form_container">
							<form action="#" id="newsletter_form" class="newsletter_form">
								<input type="email" class="newsletter_input" required="required">
								<button class="newsletter_button trans_200"><span>Подписаться</span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}