{% extends 'catalog/base-categories.html' %}

    {% block content %}

       	<!-- Home -->
        <style type="text/css">
            .my-div {
                padding-top: 0;
            }

            .home {
                height: 220px;
                padding-top: 0;
            }
            .home_container {
                height: 200px;
            }

        </style>

            <style>
   .breadcrumbs ul li a {
        color: grey;

    }

    .breadcrumbs ul li a:hover{
        color: black;
    }
    </style>

	<div class="home" style="height: 220px; padding-top: 130px;">
		<div class="home_container" style="height: 80px;">
			<div class="home_background" style="background: white; "></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li class="my-link-page" style="font-weight: 700; font-size: 18px; color: black; display: inline-block;" ><a class="link-page" href="{% url 'index' %}" style="font-weight: 700; font-size: 24px; margin-right: 25px;">Главная</a>/</li>
                                        <li style="display: inline-block;"><a href="#" style="font-weight: 700; font-size: 24px; color: black; margin-left: 25px;">Техника</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



         <div class="my-div">
{% for category in categories %}

	<div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url({{ MEDIA_URL }}{{ category.image }})"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
                                <style type="text/css">
                                    .category-link {
                                        color:  white;
                                        font-weight: 700;
                                        font-size: 46px;

                                    }
                                    a:hover {
                                        color: white
                                    }
                                </style>
								<div class="home_title"><a href="{{ category.get_absolute_url }}" class="category-link">{{ category.title }}</a><span>.</span></div>
								<div class="home_text"><p>{{ category.text }}</p></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endfor %}

         </div>


{% endblock %}